{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "firefox": "128.0",
          "chrome": "88.0"
        },
        "include": [
          "@babel/plugin-proposal-class-properties"
        ]
      }
    ]
  ]
}
