.--anchor-selector-overlay {
  border: none;
  top: 0;
  left: 0;
  margin: 0;
  clip: auto;
  position: fixed !important;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2147483647;
}

.--anchor-selector-overlay > svg > .background > path {
  fill: transparent;
  stroke: rgba(128, 128, 128, .3);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
}

.--anchor-selector-overlay > svg > .selecting > path {
  fill: rgba(214, 161, 187, 0.24);
  stroke: rgba(255, 0, 127, .9);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
  animation: anchor-selector-active .3s linear 0s infinite;
  animation-fill-mode: forwards;
  transition: opacity .3s;
  cursor: pointer;
}

.--anchor-selector-overlay > svg > .label > .label-content {
  pointer-events: none;
  transition: opacity .3s;
}

.--anchor-selector-overlay > svg > .label > .label-content > text {
  font-weight: bold;
  font-size: 24px;
  font-family: monospace;
}

.--anchor-selector-overlay > svg > .label > .label-content > .text-bg {
  fill: rgba(255, 255, 255, .95);
  stroke: rgba(255, 255, 255, .95);
  stroke-width: 5;
}

.--anchor-selector-overlay > svg > .label > .label-content > .text-fg {
  fill: rgba(0, 0, 0, .8);
}

@keyframes anchor-selector-active {
  0% { stroke-dashoffset: 12; }
  100% { stroke-dashoffset: 0; }
}
