name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - run: npm install
      - run: npm run build
      - run: npm test
