name: test
on: push
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - run: npm install
      - run: npm run build
      - run: npm test
